.maincon {
  display: flex;
  justify-content: center;
}

.formmain {
  margin-top: 10px;
  width: 33rem;
  border-radius: 20px;
  height: 47.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.form-con {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.form-con input,
select {
  padding: 13px;
  margin: 8px;
  border-radius: 15px;
  border: 1px solid gainsboro;
}
.form-con label {
  margin-left: 6%;
}
.formmain img {
  margin-left: 10.1rem;
  margin-top: -10px;
  margin-bottom: 5px;
  width: 9rem;
  height: 9rem;
}
.butt {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 90%;
  border-radius: 15px;
  background-color: #005792;
  color: white;
  border: none;
}

/*
    
    .maincon {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
    }
    
    .formmain {
      background-color: red;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .form-child {
      justify-content: center;
      align-items: center;
    }
    .form-con {
      padding: 5px;
      width: 35rem;
      height: 40rem;
    
      border-radius: 15px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
    .form-con input {
      padding: 13px;
      width: 60%;
      margin: 7px;
    
      border-radius: 15px;
    }
    .form-con select {
      padding: 13px;
      width: 64.4%;
      margin: 7px;
      border-radius: 15px;
    }
    .radio {
      display: flex;
      align-items: center;
    }
    .radio label {
      flex-direction: row;
      display: flex;
      padding: 13px;
    }
    .radio input {
      margin-top: 4%;
    }
    .form-con button {
      width: 64%;
      padding: 13px;
      border-radius: 15px;
      background-color: #f07810;
      color: white;
    }
    
    
    */
